<!DOCTYPE html>
<html lang="en">

<head>
    <title>GOODS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <div class="container">
        <h1>Edit GOOD :</h1>
        <h5>{{description}}</h5>
        <form #form="ngForm" class="col s12" novalidate>
            <div class="row">
                <div class="input-field col s6 m6">
                    <label class="active" for="id">ID</label>
                    <input id="id" type="text" class="form-control validate" name="id" [(ngModel)]="id">

                </div>
                <div class="input-field col s6 m6">
                    <label class="active" for="description">Description</label>
                    <input id="description" type="text" class="form-control validate" name="description" [(ngModel)]="description">

                </div>

                <div class="input-field col s6 m6">
                    <label class="active" for="quantity">Quantity</label>
                    <input id="quantity" type="text" class="form-control validate" name="quantity" [(ngModel)]="quantity">

                </div>
                <div class="input-field col s6 m6">
                    <label class="active" for="price">  Price</label>
                    <input id="price" type="text" class="form-control validate" name="price" [(ngModel)]="price">

                </div>
            </div>


            <br>
            <div class="row">
                <div class="card-panel teal lighten-2 col s6 m6 l6" *ngIf="employeeEdited">{{info}}</div>

                <button class="btn btn-default" type="submit" name="action" (click)="updateGood()">Save Changes
                <i class="material-icons right">send</i>
            </button>
                <button class="btn btn-default" (click)="goBack()"><i class="material-icons left">keyboard_return</i>Back
     </button>
            </div>
        </form>
    </div>
    <footer class="container-static text-center">
        <p>Footer</p>
    </footer>
</body>

</html>